h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ticket{
    height: 150px;
    background-color: #005cbf;
}

.modal-backdrop{
    background-color: #ffffff;
    position: unset;
}